.home-page__category-preview__preview-item{
   
   margin: calc(1.5rem + 1.5vw);
   position: relative;
   display: flex;
   cursor: pointer;
   justify-content: center;
   align-items: center;
   transition: transform 0.4s ease-in-out;
   
   
    
   &--title{
        position: absolute;
        
        border: 0.2rem solid black;
        font-size: 2rem;
        
        padding: 0.5rem 2rem;
        background-color: whitesmoke;
        
   }
   

    &--image {
       
        width: calc(15rem + 17vw);
        height: 300px;
        opacity: 0.8;
        
        border: 1px solid #514644;
        box-shadow: 0 2px 8px #514644;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover  
        
       
        

    }

    &:hover,
    &:active {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 430px) {
   
    .home-page__category-preview__preview-item{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
        &--image {
            width: calc(19rem + 31vw);
            height: 25rem;
        }
    }
    
}