.items-page__frame {
    display: flex;
    
    flex-grow: 1;
    
    justify-content: center;
    flex-basis: 20rem;
    margin: 3rem calc(2rem + 2vw);
    border-right: 1px solid #a49f9e;
    border-left: 1px solid #a49f9e;
    border-collapse: collapse;

    max-width: calc(10rem + 9.5vw);
    transition: transform 0.4s ease-in-out;
    background-color: whitesmoke;
  
    &--info {
        display:  flex;
        flex-direction: column;
        flex-grow: 1;
        
        align-items: center;
        
        
            &--image {
                padding-top: 1rem;
                width: calc(5rem + 6vw);
                height: calc(12rem + 5.5vw);

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
                
            }

            &__item-details {
                padding: 1rem;
                line-height: 1.5;
                width: 100%;
                
                font-size: 1.1rem;   
                
                display: flex;
                flex-direction: column;   
                position: relative;
               
                
                &--button {

                    position: absolute;
                    opacity: 0;
                    border-radius: 0.3rem;
                    background-color: #fc7c41;
                    border: none;
                    color: white;
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                    width: 80%;
                    margin-left: calc(0.55rem + 1vw);
               
                    
                }

                &--title {
                    font-weight: 600;
                    line-height: normal;
                    cursor: pointer;
                }

                &--author {
                    font-weight: 500;
                    
                    
                }

                &--book-cover {
                    font-weight: 300;
                }
                
                &--price {
                    font-size: 1.4rem;
                    color: orange;
                }
            }
    
    }
    
  &:hover, 
  &:active {
    box-shadow: 0 2px 8px #a49f9e;
    transform: scale(1.05);
    letter-spacing: 0.05rem;

    .items-page__frame--info__item-details--button {
        opacity: 1;
        @media screen and (max-width: 400px) {
            position: absolute;
        }
        position: relative;
       
        letter-spacing: 0.1rem;
        cursor: pointer;

        &:hover, 
        &:active {
            opacity: 0.8;
        }

    }
      
}   
    
}
 

@media screen and(max-width: 1299px) {
    .items-page__frame {
        max-width: calc(10rem + 15.5vw);
        &--info {
            &__item-details {
                &--button {
                    margin-left: calc(1.2rem + 2vw);
                    width: 70%;
                }
            }
        }
    }
}


@media screen and (max-width: 930px) {
    .items-page__frame {
        max-width: calc(10rem + 25vw);
        &--info {
            &--image {
                width: 14rem;
                height: 21.5rem;
            } 
            
            &__item-details {
                &--button {
                    margin-left: 5vw;
                    width: 70%;
                }
            }
        }
        
    }
}

@mixin for-mobile {
    .items-page__frame {
        
        display: flex;
        flex-direction: column;
        max-width: 100%;
        border-right: none;
        border-left: none;
        padding-bottom: 1rem;
        margin: 0rem 1rem;
        border-bottom: 1px solid #a49f9e;
           &--info {
               display: flex;
               flex-direction: row;
               align-items: flex-start;
   
               &--image {
                   width: 13rem;
                   height: 20rem;
               }
   
               &__item-details {
                   margin-left: 0.5rem;
                   font-size: 1.3rem;
                   line-height: 1.7;
                   
                   &--button {
                       position: absolute;
                       width: 70%;
                       left: 2.5rem;
                       top: 16rem;
                       opacity: 1;
                       margin-left: 0;
                   }
   
                   &--title {
                       margin-bottom: 1rem;
                   }
   
                   &--price {
                       font-size: 1.5rem;
                   }
               }
           }
       }
}
@media screen and (max-width: 590px) {
    @include for-mobile;
    .items-page__frame {
        
        flex-basis: 40rem;
    }

    
}


@media screen and (max-width: 520px){
    @include for-mobile;
  
}
