.footer {
    grid-column: container-start / container-end;
    
    bottom: 0;
    background-color: #101820;
    padding: 1rem calc(4rem + 4.5vw);
    color: white;
    margin-top: 5rem;
    letter-spacing: 0.05;
    &__frame {
        
        
        font-size: 1.3rem;
        display: flex;

        justify-content: space-between;
        font-weight: 300;
        &--about-us li:first-child,
        &--delivery li:first-child,
        &--statute li:first-child {
            font-weight: 600;
            font-size: 1.4rem;
        }
        
    }

    &--phone-number {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 3rem;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 380px) {
    .footer{
        padding: 1rem 0.5rem;
        &__frame{
           font-size: 1.2rem; 

           &--about-us li:first-child,
           &--delivery li:first-child,
           &--statute li:first-child {
               font-weight: 600;
               font-size: 1.3rem;
           }

        }
        
    }
}