.items-page {
    grid-column: center-start / center-end;

    display: flex;
    flex-wrap: wrap;
    
    
    margin: 3rem calc(0.5rem + 3vw);
    background-color: whitesmoke;
    

    &--title {
        display: flex;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid #a49f9e;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0 calc(2rem + 2vw);
        font-size: 1.8rem;
        
        letter-spacing: 0.2rem;
        
        
        
    } 
}


@media screen and (max-width: 700px){
    .items-page {
        margin: 0rem 3rem;
    }
}



@media screen and (max-width: 500px){
    .items-page {

        &--title{
        font-size: 1.5rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
    }
    }
    
    
}