.item-details-page {
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns:[main-start] 0.7fr [main-end right-start] 0.3fr [right-end];
    padding: 0 7vw;
    
    min-height: 70vh;
    &__links {
        grid-column: main-start / main-end;
        grid-row: 1 / 2;
        padding: 1rem 0rem;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;



        span {
            margin: 0 1rem;
        }
    }

    &__main {
        grid-column: main-start / main-end;

        display: flex;

        &__img-container {
        background-color: white;

            &--image{
            margin: 2rem 5rem;
            // width: calc(5rem + 10vw);
            // height: calc(12rem + 11vw);
            max-width: 330px;
            max-height: 330px;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;    
            }
            
        }

        &__info {
            width: 100%;
            margin: 0 3rem;

            &--title {
                font-size: 2.2rem;
                border-bottom: 1px solid #a49f9e;
                letter-spacing: 0.2rem;
                padding-bottom: 1rem;
                
                
            }

            span:first-child {
                color: grey;
            }

            &--author,
            &--series,
            &--pages {
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                margin-top: 2rem;
            }
        }
    }

    &__right {
        grid-column: right-start / right-end;
        margin-left: calc(1rem + 3vw);
        
        &__book-price {
            position: fixed;
            background-color: #eb540f;
            width: 21rem;
            padding: 26px 19px 20px 19px;
            border: 1px solid #d0400c;
            
            
            &--cover-type{
                display: flex;
                justify-content: center;
                font-size: 1.2rem;
                color: #d0400c;
                background-color: white;
                padding: 2 3rem;
                border-radius: 0.3rem;
            }

            &__frame {
            background-color: white; 
            border-radius: 0.3rem;
            
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 1rem;
          
            margin-top: 1rem;
                
                &--price {
                display: flex;
                justify-content: center;
                
                font-size: 2.2rem;
                
                margin: 1rem 0rem;
                border-radius: 0.3rem;
                font-weight: 600;
                        
                } 

                &--span-1,
                &--span-2,
                &--span-3 {
                display: block;
                line-height: 2rem;
                text-align: left;
                }

                &--span-3 {
                    color: green;
                }

                &--button {
                    

                    border-radius: 0.3rem;
                    background-color: #fc7c41;
                    border: none;
                    color: white;
                    padding: 0.5rem;
                    margin: 1rem 0rem 0.5rem 0rem;


                    transition: all 0.5s ease-in-out;
                    cursor: pointer;

                    &:hover,
                    &active {
                    opacity: 0.8;
                    transform: scale(1.01);
                    
                }
                     
                }
            }
           
        }
    }

    &__description {
        grid-column: main-start / main-end;

        margin-top: 4rem;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        
    }

    @media screen and (max-width: 1070px) {
        & {

            padding: 0 3.5vw;
            &__main {
                &__img-container {
                        &--image {
                        margin: 1.5rem calc(1rem + 2vw);
                        
                        max-width: calc(10rem + 12vh);
                        max-height: calc(15rem + 13vw)
                        }
                }

                &__info {
                    &--title {
                        font-size: 2rem;
                    }

                    &--author,
                    &--series,
                    &--pages {
                        font-size: 1.15rem;
                        letter-spacing: 0.1rem;
                        margin-top: 1.8rem;
                    }
                }
            }

            &__right {
                &__book-price {
                    width: 19rem;
                    padding: 20px 14px 15px 14px;
                
                    &--cover-type {
                        font-size: 1.15rem;

                    }

                    &__frame {
                        padding: 0.8rem;
                        

                        &--price {
                            font-size: 2rem;
                            margin: 0.7rem;
                        }

                        &--button {
                            padding: 0.3rem;
                            margin: 0.7rem 0rem 0.3rem 0rem;
                        }
                    }
                }
            }
            &__description {
                margin-top: 3rem;
            }
        }
    }

    @media (max-width:820px) and (min-width: 440px) {
        &{
            margin-bottom: 10rem;
        }
    }

    @media screen and(max-width: 430px) {
        &__links {
            grid-column: main-start / right-end;
        }

        &__main {
            grid-column: main-start / right-end;
            position: relative;
            cursor: pointer;

            &__img-container {
                width: 100%;
                
               
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover,
                &:active {
                    border: 1px solid #a49f9e;
                    box-shadow: 12px 10px 15px -10px #101820; 
                }
                 &--image {
                    max-height: 350px;
                    max-width: 250px;
                    width: 160px;
                    height: 310px;
                    margin-bottom: 1rem;
                    flex-grow: 1;
                    transition: 0.5s;
                    transform-origin: left;   
                    
                   
                    
                }
  
            }

            &__info {
                position: absolute;
                opacity: 0;
                top: 20%;
                width: 85%;
                margin: 0;
                padding: 0;
                padding-left: 5rem;                
                &--title{
                font-size: 1.6rem;
                }


                &--author,
                &--series,
                &--pages {
                    
                    letter-spacing: 0.1rem;
                    
                }
            }

            &.hidden-active {
                   
                .item-details-page__main__img-container {
                    .item-details-page__main__img-container--image {
                        opacity: 0;
                        transform: rotateY(180deg)
                         
                    }
                }
               .item-details-page__main__info {
                   opacity: 1;
                   transition: 1s;
               }
                
               
            }
           
        }

        &__right {
            grid-column: main-start / right-end;
            margin: 1rem 0rem 1rem 0rem;
            &__book-price {
                position: static;
                width: 100%;
                padding: 10px 9px 10px 9px;

                &__frame {
                position: relative;
                padding: 0.5rem 1rem;
                &--price {
                    position: absolute;
                    right: 2rem
                }
            }
            }


            
        }
    }
    &__description {
        grid-column: main-start / right-end;
        width: 100%;
        margin-top: 1rem;
        font-size: 1.15rem;
    }

}

