.scroll {
    position: fixed;
    bottom: 60rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    background-image: url(../../resources/scroll.svg);
    background-repeat: no-repeat;
    background-color: #101820;
    background-size: contain;
    background-position: center;
    padding: 1rem;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition:  all 0.5s cubic-bezier(1, 0, 0, 1);

   
}

.scroll.active {
    visibility:visible;
    opacity: 1;
    bottom: 4rem;
    
}


